$main-font: 'Roboto', sans-serif;
$header-font: 'Circular Std', 'Varela Round', sans-serif;
$fancy-font: 'Sandbrush Pro';

$primary-color: #1F5152;
$secondary-color: #E99939;

$highlight-color: #BEBEBE;

//Bootstrap Configurations
$icon-font-path: 'fonts/bootstrap/';
$brand-primary: $primary-color;
$primary: $primary-color;
$secondary: $secondary-color;

$font-family-base: $main-font !default;
$headings-font-family: $header-font;

$theme-green: $secondary-color;
$carousel-control-prev-icon-bg: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='#E99939' viewBox='0 0 8 8'><path d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/></svg>");
$carousel-control-next-icon-bg: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='#E99939' viewBox='0 0 8 8'><path d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/></svg>");


$font-size-base: 1rem;
$h1-font-size: $font-size-base * 4.5;
$h2-font-size: $font-size-base * 3.0;
$h3-font-size: $font-size-base * 1.5;
$custom-select-height: 2.8rem;

//Font-Awesome
// $fa-font-path: '../node_modules/@fortawesome/fontawesome-free-webfonts/webfonts';

// Crypto Font
// $cf-font-path: '../node_modules/cryptofont/fonts';