<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">TransMonitor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
            <span class="search-icon"><fa-icon [icon]="faSearch"></fa-icon></span>
            <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search">
        </form>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Support</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FAQ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link notification-icon" href="#"><fa-icon [icon]="faBell"></fa-icon></a>
        </li>
        <li class="nav-item profile-link">
            <a class="nav-link" id="UserDropdown">
                <div class="user-name mr-1"><div>Habeeb Lawal</div></div>
                <img class="user-avatar" src="./assets/images/IMG-20180413-WA0005.png"/>
            </a>
        </li>
      </ul>
    </div>
</nav>
